{% extends 'master.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="p-3 m-3">
        <div class="col-lg-5 rounded mx-auto border pt-4" style="background: white">
            <div class="text-center col">
            

                <img
                src="{% static 'images/user.png' %}" alt=""
                class="" style="height: 200px;">
            <hr>
            </div>
            <h3 class="alert alert-light rounded-pill" style="text-align:center" >Login</h3>
           <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">

                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- email -->
                <div class="form-group">
                    <label for="id_username">Email</label>
                    <input required type="email" name="email" id="id_username"
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="abc@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <div class="input-group">
                        <input type="password" name="password" id="id_password" class="form-control form-control-sm">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <input type="checkbox" id="show-password-checkbox"> <small>Show Password</small>
                            </span>
                        </div>
                    </div>
                </div>

                <!--Checkme button-->
            <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label d-grid gap-2" for="exampleCheck1">Check me out</label>
                </div>
                <hr>
                <button type="submit" class="btn btn-sm  col-lg-12 mb-3" style="background: #d36c4e; color: white">Login</button>

            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordInput = document.getElementById('id_password');
        const showPasswordCheckbox = document.getElementById('show-password-checkbox');

        showPasswordCheckbox.addEventListener('change', function () {
            passwordInput.type = this.checked ? 'text' : 'password';
        });
    });
</script>
{% endblock %}