<!--{% extends 'master.html' %}-->
<!--{% load static %}-->

<!--{% block content %}-->
<!--<head>-->
<!--<style>-->
<!--    .btn-primary:hover {-->
<!--        background-color: green;-->
<!--    }-->
<!--/* Add this to your CSS file or in a <style> tag in your HTML template */-->
<!--form {-->
<!--    width: 50%; /* Adjust the width as needed */-->
<!--    margin: auto; /* Center the form horizontally */-->
<!--    padding: 20px; /* Add some padding for better visual appearance */-->
<!--    border: 1px solid #ccc; /* Add a border */-->
<!--    border-radius: 10px; /* Add border radius */-->
<!--    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */-->
<!--}-->

<!--/* Style the form elements if needed */-->
<!--form input,-->
<!--form select,-->
<!--form textarea,-->
<!--form button {-->
<!--    margin-bottom: 10px;-->
<!--    width: 100%; /* Make form elements fill the width of the form */-->
<!--    padding: 10px; /* Add padding for better spacing */-->
<!--    box-sizing: border-box; /* Include padding and border in element's total width and height */-->
<!--}-->

<!--</style>-->
<!--    {% block title %}-->
<!--    <title>Payment</title>-->
<!--&lt;!&ndash;    {% endblock %}&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->




<!--    <form action="{% url 'payment' %}" method="post" style="background: white">-->
<!--        {% csrf_token %}-->

<!--&lt;!&ndash;        {{ form.as_p }}&ndash;&gt;-->
<!--        <div class="form-group" >-->
<!--                    <h2 style="color: #d36c4e; text-align: center">Confirm Order</h2>-->
<!--&lt;!&ndash;                <label for="id_phone">Phone Number:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="number" id="id_phone" name="phone" required>&ndash;&gt;-->
<!--                <label for="id_amount">Amount:</label>-->
<!--                <input type="number" step="0.01" min="0.01" id="id_amount" name="amount" required>-->
<!--        </div>-->
<!--     <button class="btn btn-success" type="submit" >Pay Via Mpesa</button>-->
<!--    </form>-->

<!--{% endblock %}-->